<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtkimHw-A1yPa4RLIB15P2D4oY3GCeQr0</string>
	<key>GCM_SENDER_ID</key>
	<string>653163148847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chartApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-83509</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-83509.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653163148847:ios:a2fc23cc4a603a88ed38da</string>
</dict>
</plist>